{{ define "main" }}
    <article>
        <h1><em>The</em> edge of glory...</h1>
        <ul class="posts-list">
            {{ range $index, $element := where .Paginator.Pages ".Type" "in" (slice "post" "presentation") }}
                <li class="posts-list-item">
                    <div class="list-title">
                        {{- if (eq .Type "presentation") -}}
                        <span class="presentation">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon" alt="slideshow icon">
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path d="M10 8v8l5-4-5-4zm9-5H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z" class="image" />
                            </svg>
                        </span>
                        {{- end -}}
                        <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </div>
                    <div class="post-list-item-metadata">
                        <span class="posts-list-item-description">
                            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
                            <span>
                                {{ .ReadingTime }} min read -
                                {{ .PublishDate.Format "Jan 2, 2006" }}
                            </span>
                        </span>
                        {{ if (and (.Params.showComments) (.Site.DisqusShortname)) }}
                            <span class="posts-list-item-comments">
                                <a class="disqus-comments" href="{{ .RelPermalink }}#disqus_thread">Comments</a>
                            </span>
                        {{ end }}
                    </div>
                    {{- with .Params.tags -}}
                        <div>
                            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                            {{ range . -}}
                                {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
                                    {{- if (eq (substr .Title 0 5) "lang-") -}}
                                        <a class="tag" href="{{ .RelPermalink }}">{{ upper (substr .Title 5) }}</a>
                                    {{- else -}}
                                        <a class="tag" href="{{ .RelPermalink }}">{{ replace .Title "-" " " }}</a>
                                    {{- end -}}
                                {{- end -}}
                            {{- end -}}
                        </div>
                    {{- end -}}
                </li>
            {{ end }}
        </ul>
        {{ partial "pagination.html" $ }}
    </article>
{{ end }}

