/* The Modal (background) */
.modal {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;

    &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        z-index: 1;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
        margin: 15% auto;
        margin-top: 10vh;
        padding: 20px;
    }
}

