.list-title {
    display: flex;

    .presentation {
        margin-right: .5rem;
        margin-left: -3px;
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        height: 24px;
        width: 24px;

        path {
            &.image {
                fill: #d3d3d3;
            }
        }
    }
}


