.document-content {
    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    #personalia {
        & ~ ul {
            list-style-type: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;

                i.material-icons,
                svg {
                    margin-right: 0.5rem;
                }

                svg {
                    align-self: flex-start;
                }
            }
        }
    }

    #experience {
        & ~ h4 {
            color: #67eba2;
            margin-top: 1.5rem;
            margin-bottom: 0.2rem;

            & ~ p {
                margin-top: 0;
            }
        }
    }

    #education ~ h4,
    #skills ~ h4 {
        color: #d3d3d3;
        margin-bottom: 0.2em;

        & ~ p,
        & ~ ul {
            margin-top: 0;
        }
    }

    #certificates {
        & ~ h4 {
            color: rgba(#67eba2, 0.8);
            margin-top: 1.5rem;

            & ~ ul {
                margin-top: 0;

                li {
                    display: list-item;
                }
            }
        }
    }

    h3 {
        margin-bottom: 0.3rem;
    }
}
